# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Because I'm using PyCharm # 
# User-specific stuff, some of this might be redundant when I look at other .gitignore files that were generated, but I'm keeping this for now
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf