{% extends "base.html" %}
{% block title %}New Person{% endblock title %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'people/people.css' %}">{% endblock extra_css %}
{% block content %}
<h1>Add A New Person</h1>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}: {{ field }}{% for error in field.errors %} <small class="error-text">{{ error|escape }}</small>{% endfor %}</p>
        {% endfor %}
        <input type="submit" value="Create Person">
    </form>
</div>
{% endblock content %}